<div class="container pt-2 h-100  d-flex flex-wrap align-content-center justify-content-center">
    <!-- Login -->
    <div class="card p-3" *ngIf="hiddenShowForm">
        <div class="row ">
            <div class="col-md-12 ">
                <h3 class="card-title ">Ingrese su contraseña establecida por el admin</h3>
                <div class="card-body ">
                    <form class="pt-3">
                        <div class="form-group row ">
                            <div class="col-sm-10 ">
                                <input [(ngModel)]="passwordUser" name="passwordUser" type="password" class="form-control" id="inputPassword " placeholder="Password">
                            </div>
                        </div>
                        <button (click)="sending() " type="submit " class="btn btn-primary mb-2 btn-sending">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin login -->
    <div class="card p-3" *ngIf="!hiddenShowForm">
        <div class="row ">
            <div class="col-md-12 ">
                <h3 class="card-title "> - Registro de cliente del banco []</h3>
                <div class="card-body ">
                    <p class="p-edit">En lista <a class="hra">Done</a></p>
                    <p class="p-edit">Descripción
                        <a (click)="aEditar()" class="hra">Editar</a>
                    </p>
                    <p *ngIf="edit">
                        {{pDescribe}}
                    </p>
                    <div *ngIf="!edit" class="form-group">
                        <label for="exampleFormControlTextarea1">Escribe la descripción</label>
                        <textarea [(ngModel)]="pDescribeArea" name="pDescribeArea" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <button (click)="saveEdit()" type="submit " class="btn btn-primary mt-3 mb-2 btn-sending">Guardar</button>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button (click)="deleteD()" class="btn p-edit ">Eliminar...</button>
                    </div>

                    <div class="criteriosAceptacion pt-2">
                        <h4> Citerios de Aceptación</h4>
                        <div class="row mt-2 mb-2">
                            <div class="col-11">
                                <mat-progress-bar class="pt-2 pb-2 " mode="determinate" [value]="valueProgress"></mat-progress-bar>
                            </div>
                            <div class="col-1 p-0">
                                {{valueProgress}}%
                            </div>
                        </div>

                        <div class="col-md-12">
                            <mat-checkbox #checkboxi (change)="getId(checkboxi.checked)">
                                <span>Pida su identificación que sea un valor numérico,
                                  que esté diligenciado y que no exista previamente en la base de datos. </span>
                            </mat-checkbox>
                            <p *ngIf="checkboxi.checked === true">>> {{this.users.identification}}</p>
                            <mat-checkbox #checkboxn (change)="nameAndlast(checkboxn.checked)" [disabled]="namelast">
                                <span>Pida su nombre y apellido, validando que esté diligenciado. </span>
                            </mat-checkbox>
                            <p *ngIf="checkboxn.checked === true">>> {{this.users.firstname}} {{this.users.lastname}}</p>
                            <mat-checkbox #checkboxd (change)="dateBirth(checkboxd.checked)" [disabled]="dateDisabled">
                                <span>Pida su fecha de nacimiento validando que el campo esté diligenciado y que la pernosa tenga más de 18 años.</span>
                            </mat-checkbox>
                            <p *ngIf="checkboxd.checked === true">>> {{this.users.birthdate}}</p>
                            <p *ngIf="checkboxd.checked === true && adult" class="color-orange">* Debe se mayor de 18 años</p>
                            <mat-checkbox #checkboxs (change)="saveInfo(checkboxs.checked)" [disabled]="saveDisabled">
                                <span>Que se guarde la información solicitada y se registre como cliente.</span>
                            </mat-checkbox>
                            <button *ngIf="checkboxs.checked === true" class="btn btn-primary mt-3 mb-2 btn-sending"> Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<ngx-alerts></ngx-alerts>